<%# orders#index %>

<%= render "layouts/employees_nav" %>
<div class="orders-index-wrapper">
  <div id="notice">
    <%= notice %>
  </div>
  <br />
  <div class="grid">
    <%= render @orders %>
  </div>
</div>
<%#= render "layouts/employees_bottom_nav" %>
