<%# orders#index %>

<%= render "layouts/employees_nav" %>
<div class="orders-index-wrapper">
  <div class="grid">
    <%= render @orders %>
  </div>
</div>

<%#= render "layouts/employees_bottom_nav" %>
