<%# orders#index %>

<%= render "layouts/employees_nav" %>

<div class="global-wrapper">
  <div class="orders-index-wrapper">
    <div class="grid">
      <%= render @orders %>
    </div>
  </div>
</div>

<%#= render "layouts/employees_bottom_nav" %>
