<%= render "layouts/employees_nav" %>

<div class="container">
  <p>WIP</p>
  <p>Order Index will be here</p>
  <p>
    <%= params.inspect %>
  </p>
</div>

<%= render "layouts/employees_bottom_nav" %>
