<section class="hero is-medium">
  <div class="hero-body">
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <h1 class="title">
        Spilling the Beans
      </h1>
      <%= render "layouts/nav" %>
    </div>
</section>
