<%= render "layouts/navbar" %>

<div class="container">
  <div class="menu-index">
    <div class="columns is-mobile is-multiline is-centered">
      <% @items.each do |item| %>
        <%#= image_tag(item.image.url, alt: "Image") %>
        <div class="column is-two-fifths">
          <%= link_to image_tag("https://bulma.io/images/placeholders/1280x960.png", class: "is-round"), item %>
          <%= item.name %><br />
          <%#= render "item_row", item: item, order_item: @order_item %>
          <%#= link_to "Add Item", "#", class: "button is-primary is-large" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
