/* landing.scss */

// Desktop
@media screen and (min-width: 1000px) {
  .landing-navbar {
    font-family: Circular Std, sans-serif;
    margin: 0 auto;
    max-width: 2060px;
    display: flex;
    border-bottom: 1px solid #eeeeee;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-right: 40px;

    .landing-title {
      flex: 1;
      text-align: left;

      .hero-title {
        padding-right: 40px;
        font-weight: bold;
      }

      a {
        padding-right: 20px;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 200;
        color: rgb(85, 85, 85);

        &:hover {
          color: #01a1dd;
          cursor: pointer;
        }
      }

      .nav-items-left {
        font-size: 10px;
        flex: 1;
        text-align: left;

        ul {
          padding: 0px;

          li {
            display: inline;
            list-style-type: none;
          }
        }
      }
    }

    .nav-items-right {
      flex: 1;
      text-align: right;

      ul {
        padding: 0px;

        li {
          padding-left: 5px;
          padding-right: 5px;
          display: inline;
          list-style-type: none;
        }

        a {
          text-transform: uppercase;
          font-weight: 400;
          color: rgb(85, 85, 85);

          &:hover {
            color: #01a1dd;
            cursor: pointer;
          }
        }
      }
    }
  }

  .parallax {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('front-1');
    background-attachment: fixed;
    background-position: calc(100% - 20px) calc(100% - 10px);
    // background-position: center bottom 60px;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 200px;
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
    min-height: 800px;

    img {
      width: 100%;
    }
  }

  .landing-section {
    font-size: 20px;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 50px;
    font-size: 22px;
    max-width: 960px;
    min-height: 250px;
    border-bottom: 1px dotted #eeeeee;

    p {
      font-size: 18px;
    }
  }

  .parallax-hero-container {
    margin: 0 auto;
    max-width: 100%;
    padding-left: 300px;
    padding-right: 300px;
    text-align: center;

    .title {
      color: #eeeeee;
    }
  }

  .parallax-hero {
    padding-top: 200px;
    padding-left: 200px;
    padding-right: 200px;
    position: absolute;
    color: #eeeeee;
    font-size: 28px;

    p {
      font-size: 20px;
    }
  }

  .landing-footer {
    border-top: 1px solid #eeeeee;
    background-color: #f3f3f3;
    margin: 0 auto;
    padding-top: 100px;

    .section-footer {
      margin: 0 auto;
      max-width: 960px;
      padding-bottom: 50px;
    }
  }

  .section-img {
    width: 340px;
    height: 340px;
  }

  .section-img-wrapper {
    margin: 0 auto;
    display: flex;
    padding-bottom: 80px;

    .flex-img {
      flex: 1;
      padding: 5px;

      &:hover {
        opacity: 0.8;
        transition: 0.5s;
        cursor: pointer;
      }
    }
  }

  .team-section {
    @extend .landing-section;

    .team-section-title {
    }

    .team-section-wrapper {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;

      p {
        font-size: 16px;
      }

      .team-member-container {
        flex: 1;
        padding: 10px;
        border: 1px solid #eee;
      }
    }
  }

  .footer-rights {
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0 auto;
    max-width: 960px;
    font-size: 14px;
    border-top: 1px solid #eee;
  }

  .cart-quantity {
    font-size: 20px;
    padding-left: 10px;
  }
}
