/* landing.scss */

// Desktop
@media screen and (min-width: 1000px) {
  .landing-navbar {
    font-family: "Cicular Std", sans-serif;
    margin: 0 auto;
    width: 100%;
    display: flex;
    border-bottom: 1px solid #eeeeee;
    padding-top: 10px;
    padding-bottom: 10px;

    .landing-title {
      flex: 1;
      text-align: left;
      padding-left: 100px;

      a {
        font-family: "Cicular Std", sans-serif;
        font-weight: bold;
        font-size: 24px;
        color: #090908;
      }
    }

    .nav-items {
      flex: 1;
      text-align: right;
      padding-right: 100px;

      ul {
        padding: 0px;

        li {
          padding-left: 5px;
          padding-right: 5px;
          display: inline;
          list-style-type: none;
        }

        a {
          font-family: "Cirular Std", sans-serif;
          text-transform: uppercase;
          font-weight: 500;
        }
      }
    }
  }

  .store-img-wrapper {
  }

  .parallax {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('store-1');
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
    height: 600px;

    img {
      width: 100%;
    }
  }

  .landing-section {
    font-size: 20px;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 50px;
    font-size: 22px;
    max-width: 960px;
    min-height: 250px;
    border-bottom: 1px dotted #eeeeee;

    p {
      font-size: 18px;
    }
  }

  .parallax-hero {
    padding-top: 200px;
    padding-left: 200px;
    padding-right: 200px;
    position: absolute;
    color: #eeeeee;
    font-size: 28px;

    p {
      font-size: 20px;
    }
  }

  .landing-footer {
    border-top: 1px solid #eeeeee;
    background-color: #f3f3f3;
    margin: 0 auto;
    padding-top: 100px;

    .section-footer {
      margin: 0 auto;
      max-width: 960px;
      padding-bottom: 50px;
    }
  }

  .section-img {
    width: 340px;
    height: 340px;
  }

  .section-img-wrapper {
    margin: 0 auto;
    display: flex;

    .flex-img {
      flex: 1;
      padding: 10px;
    }

    padding-bottom: 80px;
  }

  .team-section {
    @extend .landing-section;

    .team-section-title {
    }

    .team-section-wrapper {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;

      p {
        font-size: 16px;
      }

      .team-member-container {
        flex: 1;
        padding: 10px;
        border: 1px solid #eee;
      }
    }
  }

  .footer-rights {
    margin: 0 auto;
    max-width: 960px;
    font-size: 14px;
  }
}
