/* Responsive */

// Tablet
@media screen and (min-width: 600px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .cell {
    width: calc(50% - 2rem);
  }

}

// Desktop
@media screen and (min-width: 1000px) {
  .cell {
    width: calc(33.3333% - 2rem);
  }

  .global-bottom-nav {
    padding-right: 200px;
  }

  .top-nav {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
  }
}
