/* styles.scss */
.item-name {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 200;
  font-size: 24px;
}

.bottom-nav {
  border-top: 1px solid #eee;
  padding: 10px 200px 10px 200px;
}

.order-summary {
  margin: 0 auto;
  width: 100%;

  .td-item-name {
    font-size: 24px;
    text-align: left;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
  }

  .td-item-price {
    font-size: 24px;
    text-align: right;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
  }

  .td-summary-price {
    padding-top: 50px;
    font-size: 28px;
    text-align: right;
  }
}

.order-summary-card {
  padding: 20px;
}

.new-order-wrapper {
  padding-top: 100px;
  padding-bottom: 100px;
}

.line-items-index {
  padding-top: 100px;
  padding-bottom: 100px;
}

.global-bottom-nav {
  border-top: 1px solid #eee;
  display: flex;
  align-items: center;
  justify-content: center;
}

.is-center {
  max-width: 50%;
}

.hero {
  font-family: "Circular Std", sans-serif;
  background-image: image-url('coffee1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.add-to-cart {
  border-radius: 50px;

  &:hover {
    box-shadow: 3px 3px #eee;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
}

.welcome-message {
  .title {
    font-size: 44px;
  }

  .sub-title {
    font-size: 42px;
    color: #fff;
  }
}

.navbar {
  .navbar-brand {
    font-family: "Circular Std", sans-serif;
    font-weight: bold;
    font-size: 36px;
  }
}

.user-notice {
  color: #fff;
}

.navbar {
  .right-nav {
    text-align: right;
  }
}

.is-round {
  border-radius: 5px;
}

.is-white {
  color: #fff;
}

.item-image {
  border-radius: 25px;
}

#cart-link {
}

.user-notification {
  font-family: "Circular Std", sans-serif;
  font-size: 20px;
}

/***********/

.responsive-container {
  margin: 0 auto;
  padding: 50px;
  // box-shadow: 3px 3px 3px 3px #eee;
}

.responsive-image {
  max-width: 100%;
}

.cell img {
  display: block;
  @extend .is-round;
}

.cell {
  margin: 0.5rem;
}

.tmp-border {
  border: 1px solid #eee;
}

.remove-item {
  a {
    color: #fff;

    &:hover {
      color: #cc0000;
    }
  }
}
