.hero {
  font-family: "Circular Std", sans-serif;
  background-image: image-url('coffee1.jpg'); 
  background-size: cover;
  background-repeat: no-repeat;
}

.welcome-message {
  .title {
    font-size: 44px;
    color: #fff;
  }

  .sub-title {
    font-size: 42px;
    color: #fff;
  }
}

.navbar {
  .navbar-brand {
    font-family: "Circular Std", sans-serif;
    font-weight: bold;
    font-size: 36px;
  }
}

.user-notice {
  color: #fff;
}

.navbar {
  .right-nav {
    text-align: right;
  }
}

.is-round {
  border-radius: 25px;
}

.is-white {
  color: #fff;
}

.item-image {
  border-radius: 25px;
}
