<nav class="navbar is-dark is-fixed-top">
  <div class="navbar-start">
    <div class="navbar-item">
      <div class="user-notification">
        <% if employee_signed_in? %>
          <%= fa_icon "user", class: "user-icon" %>
          <%= current_employee.email %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="navbar-end">
    <div class="navbar-item">
      <%= link_to "Orders", orders_path, class: "button is-medium" %>
    </div>
  </div>
</nav>
