<nav class="navbar is-fixed-bottom is-transparent bottom-nav" role="navigation">
  <div class="navbar-brand">
    <p class="control">
      <%#= button_to 'Empty Cart', @cart, method: :delete, data: { confirm: "Are you sure? " }, class: "button is-danger is-large empty-btn" %>
    </p>
  </div>
  <div class="navbar-start">
    <%= link_to "Sign out", destroy_employee_session_path, method: :delete, class: "button is-warning is-large" %>
  </div>
  <div class="navbar-end">
    <div class="navbar-item">
      <div class="field is-grouped">
        <div class="column total has-text-right">
          <h4 class="title is-4">Signed in as: <%= current_employee.email %></h4>
        </div>
        <%# Continue actually calls new action  %>
        <%#= link_to "Continue", new_cart_order_path(@cart), class: "button is-large is-warning" %>
      </div>
    </div>
  </div>
</nav>
